{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post-list</title>
</head>

<body>
    <!--     
    <h1>لیست پست ها</h1>
    {% for post in posts %}
    <h2>{{post.title}} </h2>
    <p>{{post.published_date}} </p>
    <p>{{post.counted_viewss}} </p>

    {% empty %}
    <p>پستی وجود ندارد</p>
    {% endfor %}

    <hr>

    {% if selected_post %}
    <h2>{{ selected_post.title }}</h2>
    <p>{{ selected_post.content }}</p>
    <p>بازدید: {{ selected_post.counted_views }}</p>
    {% endif %} -->

    <!-- <h1>لیست پست‌ها</h1>

    {% for post in posts %}
    <h3>
         
            {{ post.title }}
        </a>
        | بازدید: {{ post.counted_views }}
    </h3>
    {% endfor %}

    <hr>

    {% if selected_post %}
    <h2>{{ selected_post.title }}</h2>
    <p>{{ selected_post.content }}</p>
    <p>تعداد بازدید: {{ selected_post.counted_views }}</p>
    {% endif %} -->

    <h1>لیست پست‌ها</h1>
    

{% for post in posts %}
    <h3>
        <a href="{% url 'blog:post_detail_in_list' post.pk %}">{{ post.title }}</a>
        
    </h3>
    <p>| تعداد بازدید: {{ post.counted_views }}</p>
{% endfor %}

<hr>

{% if selected_post %}
    <h2>{{ selected_post.title }}</h2>
    <p>{{ selected_post.content }}</p>
    <p>تعداد بازدید: {{ selected_post.counted_views }}</p>
{% endif %}


</body>

</html>